<body>
    <h1>YouTube Data</h1>
    
    <form id="updateForm">
        <label for="query">Enter new query:</label>
        <input type="text" id="query" name="query" required>
        <button type="button" onclick="updateData()">Update Data</button>
    </form>

    <ul>
        {% for item in youtube_data %}
            <li>{{ item.snippet.title }}</li>
        {% endfor %}
    </ul>

    <script>
        function updateData() {
            var query = document.getElementById('query').value;
            // Faire une requête AJAX vers la route /update-data/<query>
            fetch('/update-data/' + encodeURIComponent(query)).then(() => location.reload());
        }
    </script>
</body>
</html>